*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.container {
  width: 100%;
  position: relative;
}
#section1 {
  max-width: 1200px;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  #section1 {
    max-width: 1000px;
  }
}
@media screen and (max-width: 64em) {
  #section1 {
    max-width: 750px;
  }
}
@media screen and (max-width: 48em) {
  #section1 {
    max-width: 600px;
  }
}

#section2,
#section3,
#section4 {
  color: black;
  position: relative;
  left: 0;
  bottom: -100vh;
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  #section2,
#section3,
#section4 {
    width: 1000px;
  }
}
@media screen and (max-width: 64em) {
  #section2,
#section3,
#section4 {
    width: 750px;
  }
}
@media screen and (max-width: 48em) {
  #section2,
#section3,
#section4 {
    width: 500px;
  }
}
@media screen and (max-width: 40em) {
  #section2,
#section3,
#section4 {
    width: 100%;
    padding-inline: 2rem;
  }
}

#section5 {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  #section5 {
    width: 1000px;
  }
}
@media screen and (max-width: 64em) {
  #section5 {
    width: 750px;
  }
}
@media screen and (max-width: 48em) {
  #section5 {
    width: 500px;
  }
}
@media screen and (max-width: 40em) {
  #section5 {
    width: 100%;
    padding-inline: 2rem;
  }
}

h1 {
  font-size: 6rem;
}
@media screen and (max-width: 64em) {
  h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 48em) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 40em) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.5rem;
}

.btn--sm {
  color: #ffffff;
  background: #f37121;
  font-size: 1.5rem;
}

.section__title {
  color: #f37121;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}
.section__header {
  font-weight: lighter;
  font-size: 3rem;
}
.section__span {
  font-weight: 700;
  font-size: 3rem;
}

.icon--container {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  padding: 1.2rem;
  background-color: #f37121;
  display: flex;
}
.icon--icon {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: auto;
  fill: whitesmoke;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.5rem;
  padding-block: 3rem;
}
@media screen and (max-width: 48em) {
  .nav {
    padding-inline-start: 2rem;
  }
}
.nav__brand--icon {
  width: 100%;
  height: 100%;
}
.nav--list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: max-content;
  gap: 5rem;
  margin-inline-start: 10rem;
}
@media screen and (max-width: 64em) {
  .nav--list {
    display: none;
    z-index: 5;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: -45px;
    background-color: white;
    width: 30rem;
    align-items: flex-start;
    padding-inline-start: 5rem;
    padding-block-start: 9rem;
  }
}
.nav--link {
  color: #ffffff;
}
@media screen and (max-width: 64em) {
  .nav--link {
    color: #000000;
  }
}
.nav--auth {
  margin-inline-start: auto;
  width: max-content;
}
@media screen and (max-width: 64em) {
  .nav--auth {
    margin-inline-end: 3rem;
  }
}
@media screen and (max-width: 48em) {
  .nav--auth {
    margin-inline-end: 5rem;
  }
}
.nav--auth a {
  color: #ffffff;
  text-align: end;
}

.header {
  text-align: center;
  margin: 20rem auto;
  color: #ffffff;
}
.header__content {
  width: 100%;
}
.header__content--title {
  width: 60rem;
  margin: 0 auto;
  color: #ffffff;
}
@media screen and (max-width: 64em) {
  .header__content--title {
    width: 60%;
  }
}
@media screen and (max-width: 48em) {
  .header__content--title {
    width: 90%;
  }
}
@media screen and (max-width: 40em) {
  .header__content--title {
    width: 100%;
  }
}
.header__content--paragraph {
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}
.header--btn {
  padding: 2rem 4rem;
  margin-block: 2rem;
  margin-inline: 10rem;
}

.footer {
  color: black;
  position: relative;
  left: 0;
  bottom: -100vh;
  background: #f8f9fa;
  font-size: 1.5rem;
  color: #222222;
  opacity: 0.7;
  padding-block: 8rem;
}
.footer--top {
  display: grid;
  grid-template-columns: 0.9fr repeat(3, 1fr);
  gap: 3rem;
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  .footer--top {
    width: 1000px;
  }
}
@media screen and (max-width: 64em) {
  .footer--top {
    width: 800px;
  }
}
@media screen and (max-width: 48em) {
  .footer--top {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media screen and (max-width: 40em) {
  .footer--top {
    width: 100%;
    padding-inline: 2rem;
  }
}
.footer--brand__paragraph {
  display: block;
  margin-block-start: 3rem;
}
.footer--list {
  margin-block-start: 3rem;
}
.footer--item:not(:first-child) {
  margin-top: 1.5rem;
}
.footer--link {
  text-decoration: underline;
  color: #222222;
}
.footer--bottom {
  margin-block-start: 15rem;
  text-align: center;
}

.learn {
  color: #222222;
  opacity: 0.7;
  text-decoration: underline;
  display: block;
  margin-block-start: 2rem;
}

.about {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-block-end: 10rem;
}
@media screen and (max-width: 64em) {
  .about {
    gap: 0;
    align-items: initial;
    flex-direction: column;
  }
}
.about--img {
  width: 65rem;
}
@media screen and (max-width: 64em) {
  .about--img {
    width: 100%;
  }
}
.about--img img {
  width: 100%;
}
.about--content__container {
  width: 50rem;
}
@media screen and (max-width: 64em) {
  .about--content__container {
    width: 100%;
  }
}
.about--info__container {
  margin-block-start: 5rem;
}
.about--info {
  display: flex;
  gap: 1rem;
}
.about--info:not(:first-child) {
  margin-block-start: 3rem;
}
.about--icon {
  width: 4rem;
  height: 4rem;
}
.about--content__header {
  color: #f37121;
  font-weight: 400;
}
.about--content__paragraph {
  color: black;
  opacity: 0.6;
  font-weight: 300;
  width: 35rem;
}
@media screen and (max-width: 64em) {
  .about--content__paragraph {
    width: 100%;
  }
}

.toggle {
  position: relative;
}
.toggle--icon {
  position: absolute;
  top: 47px;
  right: 0;
}
@media screen and (max-width: 48em) {
  .toggle--icon {
    display: block;
    margin-inline-end: 2rem;
  }
}
.toggle--icon, .toggle--icon::before, .toggle--icon::after {
  display: none;
  content: "";
  background-color: white;
  height: 3px;
  width: 20px;
}
@media screen and (max-width: 64em) {
  .toggle--icon, .toggle--icon::before, .toggle--icon::after {
    display: block;
  }
}
.toggle--icon::before {
  content: "";
  position: absolute;
  top: 5px;
}
.toggle--icon::after {
  content: "";
  position: absolute;
  bottom: 5px;
}
.toggle--cancel {
  display: none;
  position: relative;
  transform: rotate(130deg);
}
.toggle--cancel, .toggle--cancel::after {
  content: "";
  background-color: black;
  height: 3px;
  width: 20px;
}
@media screen and (max-width: 64em) {
  .toggle--cancel, .toggle--cancel::after {
    display: none;
    z-index: 10;
  }
}
.toggle--cancel::after {
  content: "";
  position: absolute;
  transform: rotate(100deg);
}

.bg {
  position: absolute;
  background-image: url("../../assets/header_bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}

.bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auction {
  padding-block: 10rem;
}
.auction--header {
  text-align: center;
}
.auction--grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25rem, 1fr));
  gap: 5rem;
  margin-block-start: 5rem;
}
@media screen and (max-width: 75em) {
  .auction--grid {
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    gap: 2rem;
  }
}
@media screen and (max-width: 64em) {
  .auction--grid {
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    gap: 2rem;
  }
}
@media screen and (max-width: 48em) {
  .auction--grid {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }
}
@media screen and (max-width: 40em) {
  .auction--grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.auction--grid img {
  width: 100%;
}
.auction--product {
  position: relative;
}
@media screen and (max-width: 40em) {
  .auction--product {
    width: 100%;
  }
}
.auction--product-content {
  width: 90%;
  margin: 0 auto;
}
.auction--product-info {
  margin-block-start: 3rem;
}
.auction--product__category {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1rem;
}
.auction--product::after {
  content: "$95";
  font-size: 2rem;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #f37121;
  padding: 2.5rem;
  border-radius: 50%;
}
.auction--submit {
  background: #f8f9fa;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  margin-block-start: 2rem;
}

.how {
  position: relative;
  left: 0;
  bottom: -100vh;
  padding-block-end: 10rem;
}
.how-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block-start: 5rem;
}
@media screen and (max-width: 75em) {
  .how-section {
    justify-content: space-between;
  }
}

.step {
  width: 27rem;
}
@media screen and (max-width: 75em) {
  .step {
    width: 45rem;
  }
}
@media screen and (max-width: 64em) {
  .step {
    width: 35rem;
  }
}
@media screen and (max-width: 48em) {
  .step {
    width: 100%;
  }
}
.step--top {
  display: flex;
  align-items: center;
}
.step--right-icon {
  width: 2rem;
  height: 2rem;
  margin-inline-start: 10.5rem;
}
@media screen and (max-width: 75em) {
  .step--right-icon {
    margin-inline-start: auto;
  }
}
.step--header {
  margin-block: 2rem;
}
.step--paragraph {
  opacity: 0.4;
}

.testimonial {
  background: url("../../assets/header_bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  left: 0;
  bottom: -100vh;
  z-index: 2;
}
.testimonial::after {
  content: "  ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(243, 114, 33, 0.8705882353);
}
.testimonial--container {
  padding-block: 10rem;
  color: white;
  position: inherit;
  z-index: 1;
}
.testimonial--header {
  text-align: center;
  z-index: -200;
}
.testimonial--header__title {
  color: white;
}

.client {
  display: flex;
  gap: 10rem;
  margin-block-start: 5rem;
  z-index: 100;
}
@media screen and (max-width: 64em) {
  .client {
    gap: 2rem;
  }
}
.client--info {
  width: 60rem;
}
@media screen and (max-width: 48em) {
  .client--info {
    width: 100%;
  }
}
@media screen and (max-width: 48em) {
  .client--info__2 {
    display: none;
  }
}
.client--profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.client--profile img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.client--paragraph {
  line-height: 4rem;
  margin-block-start: 2rem;
  word-spacing: 0.5rem;
}
@media screen and (max-width: 64em) {
  .client--paragraph {
    width: 100%;
  }
}

.slider {
  margin-inline: auto;
  margin-block-start: 2rem;
  display: flex;
  justify-content: center;
}
.slider > *:not(:first-child) {
  margin-inline-start: 2rem;
}
.slider > * {
  width: 2rem;
  height: 0.3rem;
  background-color: rgba(0, 0, 0, 0.504);
}
.slider > *:hover {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
