$color-primary-black: #000000;
$color-secondary-black: #222222;

$color-primary-grey: #727272;
$color-secondary-grey: #9b9b9b;

$color-secondary-ash: #333333;
$color-tertiary-ash: #3a3a3a;


$color-primary-white: #ffffff;
$color-orange: #f37121;
$color-green: #7ac64d;
$color-blue: #337ab7;



;