h1 {
    font-size: 6.0rem;

    @media screen and (max-width:$l) {
        font-size: 5.0rem;
    }

    @media screen and (max-width:$m) {
        font-size: 4rem;
    }

    @media screen and (max-width:$s) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 2.6rem;
}

span {
    font-size: 1.5rem;
}