.btn--sm {
    color: $color-primary-white;
    background: $color-orange;
    font-size: 1.5rem;
}

.section {
    &__title {
        color: $color-orange;
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }

    &__header {
        font-weight: lighter;
        font-size: 3rem;
    }

    &__span {
        font-weight: 700;
        font-size: 3rem;
    }
}


.icon {
    &--container {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        padding: 1.2rem;
        background-color: $color-orange;
        display: flex;
    }

    &--icon {
        width: 3rem;
        height: 3rem;
        display: block;
        margin: auto;
        fill: whitesmoke;
    }
}




li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}