.btn--sm {
    color: $color-primary-white;
    background: $color-orange;
    font-size: 1.5rem;
}

.section {
    &__title {
        color: $color-orange;
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }

    &__header {
        font-weight: lighter;
        font-size: 3rem;
    }

    &__span {
        font-weight: 700;
        font-size: 3rem;
    }
}



li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}